.jumbotron {
  background:url("./assets/background.jpg") no-repeat center fixed;
  -webkit-background-composite: cover;
  background-size: cover;
  height: 240px;
  margin-top: 50px;
  text-align: right;
  color: whitesmoke;
}

.for-about {
  position: relative;
  top: 140px;
  text-shadow: 2px 2px #000000;
}

.blurb-container {
  display: flex;
  width: 70%;
  margin: 80px 40px;
  justify-content: space-evenly;
  background-color: white;
  max-width: 1000px;
}

#pfp-container {
  flex: 0 2 400px;
}

#profile-pic {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#blurb {
  flex: 1 1 400px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  max-width: 500px;
  margin: auto;
}

.content-header {
  text-align: center;
  margin: 40px 0;
}

.projects-container {
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  padding: 10px 30px;
  margin: 20px auto;
  max-width: 1200px;
  background: whitesmoke;
  border-radius: 14px;
}

.image-container {
  width: 20%;
  max-width: 300px;
  min-width: 300px;
}

.content-container {
  float: right;
}

.github-element {
  float: right;
}
